<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET_test</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>user_name</th>
                <th>user_code</th>
                <th>user_email</th>
                <th>port</th>
            </tr>
        </thead>
        {% for i in data %}
        <tr>
            <td>{{i.user_name}}</td>
            <td>{{i.user_code}}</td>
            <td>{{i.user_email}}</td>
            <td>{{i.port}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>