<!DOCTYPE html>

<html class="app-ui">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Document title -->
        <title>Frontend - Login</title>

        <meta name="description" content="AppUI - Frontend Template & UI Framework" />
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="../../static/img/favicons/apple-touch-icon.png" />
        <link rel="icon" href="../../static/img/favicons/favicon.ico" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="../../static/css/font-awesome.css" />
        <link rel="stylesheet" id="css-ionicons" href="../../static/css/ionicons.css" />
        <link rel="stylesheet" id="css-bootstrap" href="../../static/css/bootstrap.css" />
        <link rel="stylesheet" id="css-app" href="../../static/css/app.css" />
        <link rel="stylesheet" id="css-app-custom" href="../../static/css/app-custom.css" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <main class="app-layout-content">

                    <!-- Page header -->
                    <div class="page-header bg-green bg-inverse" >
                        <div class="container" style="height:100px">
                            <!-- Section Content -->
                            <div class="p-y-lg text-center">
                                <h1 class="display-2">邮箱注册</h1>
                                <!-- <p class="text-muted">Unlimited ideas. Unlimited power. Unlimited joy. Unlimited opportunities.</p> -->
                            </div>
                            <!-- End Section Content -->
                        </div>
                    </div>
                    <!-- End Page header -->

                    <!-- Page content -->
                    <div class="page-content">
                        <div class="container">
                            <div class="row">
                                <!-- Sign up -->
                                <div class="col-md-6"  style="left:25%;">
                                    <div class="card">
                                        <h3 class="card-header h4">Sign up</h3>
                                        <div class="card-block">
                                            <form action="index.html" method="post">
                                                <div class="form-group">
                                                    <label class="sr-only" for="frontend_signup_username">Username</label>
                                                    <input class="form-control" type="text" id="frontend_signup_username" placeholder="用户名（邮箱格式为 用户名@skyfall.icu ）" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="frontend_signup_password">Password</label>
                                                    <input class="form-control" type="password" id="frontend_signup_password" placeholder="密码" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="frontend_signup_repassword">Comfirm Password</label>
                                                    <input class="form-control" type="password" id="frontend_signup_repassword" placeholder="确认密码" />
                                                </div>
                                                <input type="button" id=signup value='注册' class="btn btn-app btn-block">
                                            </form>
                                        </div>
                                        <!-- .card-block -->
                                    </div>
                                    <!-- .card -->
                                </div>
                                <!-- .col-md-6 -->
                                <!-- End sign up -->

                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- End page content -->


                </main>

                <footer class="app-layout-footer" style="position:fixed;bottom:0;">
                    <div class="container p-y-md">
                        <div class="pull-right hidden-sm hidden-xs">
                        </div>
                        <div class="pull-left text-center text-md-left">
                            AppUI &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="../../static/js/core/jquery.min.js"></script>
        <script src="../../static/js/core/bootstrap.min.js"></script>
        <script src="../../static/js/core/jquery.slimscroll.min.js"></script>
        <script src="../../static/js/core/jquery.scrollLock.min.js"></script>
        <script src="../../static/js/core/jquery.placeholder.min.js"></script>
        <script src="../../static/js/app.js"></script>
        <script src="../../static/js/app-custom.js"></script>
        <script>
            $("#signup").click(function () {
                alert(123);
                var user = document.getElementById('frontend_signup_username').value;
                var password = document.getElementById('frontend_signup_password').value;
                var repassword = document.getElementById('frontend_signup_repassword').value;
                alert(user + password + repassword);
                if (user == "" || password == "" || repassword =="") alert("请正确输入！");
                else if(password!=repassword) alert("两次密码输入不一致！");
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/userRegister/',
                        // async: false,
                        data: {
                            user: user,
                            password: password,
                            csrfmiddlewaretoken:'{{ csrf_token }}'
                        },
                        success: function (data) {
                            alert(data.message);
                            if(data.message=="注册成功") window.location.href="";
                        }
                    })
                }
                
            })
        </script>

    </body>

</html>