<!DOCTYPE html>

<html class="app-ui">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Document title -->
        <title>Tables &ndash; Data tables</title>

        <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
        <meta name="author" content="rustheme" />
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="../../static/img/favicons/apple-touch-icon.png" />
        <link rel="icon" href="../../static/img/favicons/favicon.ico" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="../../static/js/plugins/datatables/jquery.dataTables.min.css" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="../../static/css/font-awesome.css" />
        <link rel="stylesheet" id="css-ionicons" href="../../static/css/ionicons.css" />
        <link rel="stylesheet" id="css-bootstrap" href="../../static/css/bootstrap.css" />
        <link rel="stylesheet" id="css-app" href="../../static/css/app.css" />
        <link rel="stylesheet" id="css-app-custom" href="../../static/css/app-custom.css" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui layout-has-drawer layout-has-fixed-header">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Drawer -->
                <aside class="app-layout-drawer">

                    <!-- Drawer scroll area -->
                    <div class="app-layout-drawer-scroll">
                        <!-- Drawer logo -->
                        <div id="logo" class="drawer-header">
                            <a href="/Index"><img class="img-responsive" src="../../static/img/logo/logo-backend.jpg" title="AppUI" alt="AppUI" /></a>
                        </div>

                        <!-- Drawer navigation -->
                        <nav class="drawer-main">
                            <ul class="nav nav-drawer">

                                <li class="nav-item nav-drawer-header">后台管理</li>

                                <li class="nav-item">
                                    <a href="/AdminIndex"><i class="ion-ios-speedometer-outline"></i> 后台主页</a>
                                </li>

                                <!-- <li class="nav-item">
                                    <a href="frontend_home.html"><i class="ion-ios-monitor-outline"></i> Frontend</a>
                                </li> -->
                                <li class="nav-item">
                                    <a href="/UserManage"><i class="ion-ios-calculator-outline"></i> 用户管理</a>
                                </li>

                                <li class="nav-item nav-item-has-subnav">
                                    <a href="javascript:void(0)"><i class="ion-ios-compose-outline"></i> 日志管理</a>
                                    <ul class="nav nav-subnav">

                                        <li>
                                            <a href="/SMTPLog">SMTP日志</a>
                                        </li>

                                        <li>
                                            <a href="/POP3Log">POP3日志</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/EmailManage"><i class="ion-ios-email"></i>邮件管理</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/CreateUser"><i class="ion-ios-personadd-outline"></i>创建用户</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End drawer navigation -->
                    </div>
                    <!-- End drawer scroll area -->
                </aside>
                <!-- End drawer -->

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default">
                                <!-- .navbar-left -->

                                <ul class="nav navbar-nav navbar-right navbar-toolbar hidden-sm hidden-xs">
                                    <li class="dropdown">
                                        <a href="javascript:void(0)" data-toggle="dropdown">首页 </a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="javascript:void(0)" data-toggle="dropdown">账户 <span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a tabindex="-1" href="javascript:void(0)"> 修改密码 </a>
                                            </li>
                                            <li>
                                                <a tabindex="-1" href="javascript:void(0)"> 退出登录 </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="javascript:void(0)" data-toggle="dropdown">
                                            <span class="m-r-sm dropdown">  </span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- .navbar-right -->
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </nav>
                    <!-- .navbar-default -->
                </header>
                <!-- End header -->


                <main class="app-layout-content">

                    <!-- Page Content -->
                    <div class="container-fluid p-y-md">
                        <!-- Dynamic Table Full -->
                        <div class="card">
                            <div class="card-block">
                                <h3>SMTP日志列表</h3>
                                <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                                <table class="table table-condensed" style="width: 600px; margin-top: 50px; font-size: 20px;">
                                    <thead>
                                        <tr>
                                        </tr>
                                    </thead>
                                    <tbody id="logList">
                                    </tbody>
                                </table>
                            </div>
                            <!-- .card-block -->
                        </div>
                        <!-- .card -->
                        <!-- End Dynamic Table Full -->
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->

                    <!-- Pop Out Modal -->
                    <div class="modal fade" id="modal-popout" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-popout">
                            <div class="modal-content">
                                <div class="card-header bg-green bg-inverse">
                                    <h4 id="logTitle"></h4>
                                    <ul class="card-actions">
                                        <li>
                                            <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-block" id="logContent" style="width: 100%;WORD-WRAP:break-word;TABLE-LAYOUT:fixed;word-break:break-all;">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Pop Out Modal -->

                    <!-- Slide Up Modal -->
                    <div class="modal fade" id="modal-slideup" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-slideup">
                            <div class="modal-content">
                                <div class="card-header bg-green bg-inverse">
                                    <h4>提示</h4>
                                    <ul class="card-actions">
                                        <li>
                                            <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-block">
                                    <p>确定要删除日志？</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">取消</button>
                                    <button class="btn btn-sm btn-app" type="button" data-dismiss="modal" onClick='deleSMTPLog()'><i class="ion-checkmark" ></i>确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Slide Up Modal -->
                </main>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <div class="app-ui-mask-modal"></div>

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="../../static/js/core/jquery.min.js"></script>
        <script src="../../static/js/core/bootstrap.min.js"></script>
        <script src="../../static/js/core/jquery.slimscroll.min.js"></script>
        <script src="../../static/js/core/jquery.scrollLock.min.js"></script>
        <script src="../../static/js/core/jquery.placeholder.min.js"></script>
        <script src="../../static/js/app.js"></script>
        <script src="../../static/js/app-custom.js"></script>

        <!-- Page JS Plugins -->
        <script src="../../static/js/plugins/datatables/jquery.dataTables.min.js"></script>

        <!-- Page JS Code -->
        <script src="../../static/js/pages/base_tables_datatables.js"></script>
        <script>
            var mailid;
            $(document).ready(function()
            {
                $.ajax({
                    type: 'GET',
                    url: '/GetIdentity/',
                    dateType: "json",
                    success: function (data){
                        console.log(data.authorityNo)
                        if(data.authorityNo!=1){
                            alert("您无权访问此页面")
                            window.location.href="/Index";
                        }
                    }
                })
                $.ajax({
                    type: 'GET',
                    url: '/SMTPLogList/',
                    dateType: "json",
                    success: function (data) {
                        // alert(data.message);
                        var list=data.infoList
                        for(var i=0;i<list.length;i++){
                            console.log(list[i].emailId);
                            mailid=list[i].emailId
                            var sendTime=timeFormatter(list[i].sendTime)
                            console.log(sendTime);
                            str="<tr><td class=\""+"text-center"+"\" align=\""+"left"+"\" valign=\""+"middle"+"\">"
                                +sendTime+"："+list[i].fromAddr+"向"+list[i].toAddr+"发送了一封邮件</td>"+
                                "<td class=\""+"text-center"+"\"><div class=\""+"btn-group"+"\">"+
                                 "<button class=\""+"btn btn-xs btn-default"+"\" type=\""+"button"+"\" data-toggle=\""+"modal"+"\" data-target=\""+"#modal-slideup"+"\" title=\""+"Edit Client"+"\" onClick='getForm("+list[i].emailId+")'>"
                                 +"<i class=\""+"ion-close"+"\"></i></button>"
                                 +"</div></td></tr>"
                            $("#logList").append(str)
                        }
                    }
                })
            });
            function timeFormatter(value){
                console.log(value)
                var datetime=value.replace("T"," ").replace("Z","")
                return datetime
            }
            function getForm(mailId){
                mailid=mailId
            }
            function deleSMTPLog(){
                console.log(mailid)
                $.ajax({
                    type: 'POST',
                    url: '/DeleSMTPLog/',
                    dateType: "json",
                    data: {
                        mailId:mailid,
                        csrfmiddlewaretoken:'{{ csrf_token }}'
                    },
                    success:function(data){
                        // alert(data.message)
                        location.reload();

                    }
                    
                })
            }
            $("#logout").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Logout/',
                    // async: false,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        alert(data.message);
                        if (data.status == 200) window.location.href = "/";
                    }
                })
            })
        </script>
    </body>

</html>